.consul-header {
  border: none;
  border-radius: 1rem;
  background-color: #f5f5f7;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 5px;
}
.consul-detail {
  margin-top: 5px;
}
