.product-container {
  margin: 2px;
  padding: 2px;
  border: none;
  border-radius: 5px;
}
.product-details {
  display: flex;
  padding: 10px;
  justify-content: stretch;
  align-items: center;
  margin: 10px;
  border: none;
  border-radius: 5px;
  background-color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.name {
  margin-right: 3rem;
  padding: 3px;
  font-weight: bold;
}
.price {
  margin-right: 3rem;

  padding: 3px;
}
.Avalaible {
  margin-right: 3rem;

  padding: 3px;
}
.product-title {
  padding: 3px;
  height: fit-content;
}
.product-btn {
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #203765;
  border-radius: 5px;
  cursor: pointer;
}
.prduct-header {
  display: flex;
  justify-content: space-between;
  margin: 0 12px;
}
