/*Card css*/

.card {
  width: fit-content;
  display: flex;
}
.card-img {
  width: auto;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin: 5px;
  padding: 2px;
  border: 2px solid greenyellow;
}
.card-info {
  padding: 3px;
}
